@import "materialize-css/dist/css/materialize.min.css";
@import "material-design-icons/iconfont/material-icons.css";

body {
    font-family: sans-serif;
    margin: 0px;
}

#mainView {
    margin: 8px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

h5 {
    margin-top: 30px;
}

input, select {
    margin-bottom: 20px;
    width: 100%;
}

button, .btn {
    z-index: 0;
}
